# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/
mp/

# Data and Figure files/folders
data*
figures*
*.pdf
*.png
*.zip
*.vtk

# Log files
*.log

# Local configuration files
config.py

# IDE and Editor Folders
.vscode/
.idea/
.ipynb_checkpoints/

# OS-specific files
.DS_Store
*~
