# Ignore historical data directory 

historical/

# Ignore all files and directories starting with "data"

data*

#Ignore all files and directories starting with "figures"

figures*

#Ignore changes to config.py unless otherwise stated 

config.py

#Ignore visualiser

visualiser/
